
.navbar{
    background-color: rgb(130, 176, 175);
    color: white;
}

.navbar-inverse .navbar-nav>li>a{
    color: white;
}
.navbar-inverse .navbar-nav>li>a:hover{
    background-color: rgb(201, 226, 226);
    color: black;
}
.navbar-inverse .navbar-nav>li>a:active{
    background-color: rgb(201, 226, 226);
    color: black;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-brand:hover {
    background-color: rgb(201, 226, 226);
    color: black;
}
.navbar-inverse .navbar-brand:active {
    background-color: rgb(201, 226, 226);
    color: black;
}
.navbar-inverse {
    border-color: rgb(201, 226, 226);
}
.navbar-inverse .navbar-toggle:hover{
    background-color: rgb(201, 226, 226);
    color: black;
}

.first-container{
    padding: 17px;

}

.generaltadatok{
    font-size: 30px;
}
 .fejlec{
    display: flex;
    flex-direction: row;
    text-align: center;
 }
 .frissites{
    margin-left: 15px;
    border-radius: 24px;
    background-color: rgb(130, 176, 175);
    padding: 10px;
    border: 1px solid white;
    color: white;
 }
 .frissites:hover{
  
    background-color: rgb(201, 226, 226);
    border: 1px solid white;
    color:black;
 }
